
<div class="d-flex justify-content-center">
    <div class="row w-100">
      <div *ngFor="let produto of produtos" class="card col-6 p-1 my-2">
        <img src="{{ produto.imagem }}" class="card-img-top bg-dark" height="192">
        <div class="card-body">
          <h5 class="card-title">R{{ produto.preco | currency }}</h5>
          <p class="card-text">{{ produto.nome }}</p>
          <h5 class="fw-bold" *ngIf="getQuantidade(produto) != undefined">{{ getQuantidade(produto) }} itens selecionados</h5>
  
          <div class="btn-group row">
            <button class="btn btn-primary col-6" 
            (click)="adicionar(produto);">
            <svg style="fill: white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10.975 8l.025-.5c0-.517-.067-1.018-.181-1.5h5.993l-.564 2h-5.273zm-2.475 10c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm11.305-15l-3.432 12h-10.428l-.455-1.083c-.323.049-.653.083-.99.083-.407 0-.805-.042-1.191-.114l1.306 3.114h13.239l3.474-12h1.929l.743-2h-4.195zm-6.305 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm-4.5-10.5c0 2.485-2.018 4.5-4.5 4.5-2.484 0-4.5-2.015-4.5-4.5s2.016-4.5 4.5-4.5c2.482 0 4.5 2.015 4.5 4.5zm-2-.5h-2v-2h-1v2h-2v1h2v2h1v-2h2v-1z"/></svg>
            Adicionar
            <span *ngIf="getQuantidade(produto) != undefined"> mais</span>
            </button>
            <button *ngIf="getQuantidade(produto) != undefined" class="btn btn-danger col-6"
            (click)="remover(produto);">
            <svg style="fill: white" width="24" height="24" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m20.015 6.506h-16v14.423c0 .591.448 1.071 1 1.071h14c.552 0 1-.48 1-1.071 0-3.905 0-14.423 0-14.423zm-5.75 2.494c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-4.5 0c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-.75-5v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-16.507c-.413 0-.747-.335-.747-.747s.334-.747.747-.747zm4.5 0v-.5h-3v.5z" fill-rule="nonzero"/></svg>
            Remover
            </button>  
          </div>
        </div>
      </div>  
        
        <div *ngIf="temItens()" class="gradient-container fixed-bottom d-flex justify-content-center w-100">
          <a [routerLink]="['pedidos']" class="btn btn-success fw-bold col-6 mb-5">Finalizar pedido</a>
        </div>    
  
    </div>
  </div>