
<div class="d-flex justify-content-center mx-auto" style="width: 70vw">
  <div class="row w-100">
    <div class="accordion mt-3" id="accordion">
      <div *ngFor="let categoria of categorias" class="accordion-item">
        {{ filtrarCategoria(categoria.id) }}
        <h2 class="accordion-header">
          <button class="accordion-button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + categoria.id">
            {{categoria.descricao}}
          </button>
        </h2>
        <div [id]="'collapse' + categoria.id" class="accordion-collapse collapse show" data-bs-parent="#accordion">
          <div class="accordion-body row row-cols-3 row-cols-md-3 g-4">
            <div *ngFor="let produto of filtrados">
                  <div class="col card">
                    <img src="{{produto.imagem}}" alt="{{produto.nome}}" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{produto.nome}}</h5>
                      <p class="card-text">{{produto.preco}}</p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>     
  </div>
</div>
