
<ul class="nav nav-tabs me-auto mb-2 mb-lg-0 mt-0 pt-0 bg-custom">
    <li class="nav-item">
        <a class="nav-link active mt-1 mx-1 " [routerLink]="['/pedidos']">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mt-1 mx-1 " [routerLink]="['/produtos']">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mt-1 mx-1 " [routerLink]="['/categorias']">Categorias</a>
    </li>
</ul>    

<body>
    <h1 style="width: 70vw;" class="mx-auto text-start mt-3 fw-semibold">Listagem de Pedidos</h1>

    <div class="row mx-auto" style="width: 70vw;">
        <div class="mb-3 mx-auto" style="width: 35vw;">
            <div class="form-check m-0 pt-3">
                <input class="form-check-input" type="checkbox" [(ngModel)]="mostrarEntregues">
                <label class="form-check-label">Mostrar entregues</label>
            </div>
        </div>
    
        <div class="mb-3 mx-auto input-group" style="width: 35vw;">
            <input type="text" class="form-control mt-2" style="width: 67%" placeholder="Buscar pedidos"
            [(ngModel)]="termoBusca" (input)="filtrarPedidos()">
        </div>
    </div>

    <table class="table table-bordered table-hover mx-auto" style="width: 70vw;">
        <tbody>
            <tr class="text-center">
                <th (click)="alternarOrdem('id')">
                    Código
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'id'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'id' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'id' && !ordemAscendente"></i>
                </th>
                <th (click)="alternarOrdem('logradouro')">
                    Endereço
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'logradouro'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'logradouro' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'logradouro' && !ordemAscendente"></i>
                </th>
                <th (click)="alternarOrdem('nome_cliente')">
                    Nome
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'nome_cliente'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'nome_cliente' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'nome_cliente' && !ordemAscendente"></i>
                </th>               
                <th (click)="alternarOrdem('tel_cliente')">
                    Telefone
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'tel_cliente'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'tel_cliente' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'tel_cliente' && !ordemAscendente"></i>
                </th>
                <th (click)="alternarOrdem('opcaoPagamento')">
                    Pagamento
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'opcaoPagamento'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'opcaoPagamento' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'opcaoPagamento' && !ordemAscendente"></i>
                </th>
                <th (click)="alternarOrdem('data_criado')">
                    Data criado
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'data_criado'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'data_criado' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'data_criado' && !ordemAscendente"></i>
                </th>
                <th (click)="alternarOrdem('entregue')">
                    Entregue
                    <i class="fas fa-sort" *ngIf="colunaOrdenacao !== 'entregue'"></i>
                    <i class="fas fa-sort-up" *ngIf="colunaOrdenacao === 'entregue' && ordemAscendente"></i>
                    <i class="fas fa-sort-down" *ngIf="colunaOrdenacao === 'entregue' && !ordemAscendente"></i>
                </th>
                <th class="text-center">
                    <a [routerLink]="['./inserir']" class="btn-success btn">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </th>
            </tr>
            <tr *ngFor="let pedido of filtrados" class="text-center">
              <td *ngIf="!pedido.entregue || mostrarEntregues">{{pedido.id}}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues">{{pedido.logradouro}}, {{pedido.numeroPredial}} - {{pedido.bairro}}, {{pedido.cidade}}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues">{{pedido.nome_cliente}}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues">{{pedido.tel_cliente}}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues">{{pedido.opcaoPagamento}}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues">{{pedido.dataCriado}}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues" [ngClass]="{'text-success': pedido.entregue, 'text-danger': !pedido.entregue }">{{ pedido.entregue ? pedido.dataEntregue : 'Não entregue' }}</td>
              <td *ngIf="!pedido.entregue || mostrarEntregues" class="d-flex justify-content-evenly">
                  <a [routerLink]="['./editar', pedido.id]" class="btn-primary btn col-6 me-1">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                  </a>
                  <br>
                  <a *ngIf="!pedido.entregue" (click)="entregar(pedido)" class="btn-success btn col-6">
                      <i class="fa fa-check" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="pedido.entregue" (click)="remover(pedido)" class="btn-danger btn col-6">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
              </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="pedidos.length==0" class="text-center">Nenhum pedido cadastrado.</p>
</body>