<div class="w-100 bg-white" id="imagem">
    <img src="assets/top.png" alt="Topo do encarte" class="img-fluid w-100" (click)="captureImage()">

    <div class="d-flex justify-content-evenly row row-cols-2 mx-1">
        <div *ngFor="let item of selecionados" class="col text-center">
            <img src="{{ checkUndefined(item.imagem) }}" alt="{{ item.nome }}" class="h-50">
            <h1 class="p-3 fw-medium text-light">R{{ item.preco | currency}}</h1>
            <p class="fw-medium">{{ item.nome }}</p>
        </div>
    </div>
    
    <img src="assets/bottom.png" alt="Base do encarte" class="img-fluid w-100" (click)="captureImage()">
</div>
