.title {
    color: #E8E8F7;
    font-family: bauhaus;
    text-decoration: none !important;
    vertical-align: middle;
}

.logo {
    width: 12%;
    height: auto;
}

.bg-custom {
    background-color: #0087C9 !important;
}

@font-face {
    font-family: bauhaus;
    src: url("/assets/bauhaus-93.ttf");
}

@font-face {
    font-family: helvetica;
    src: url("/assets/Helvetica.ttf");
}

@font-face {
    font-family: keepcalm;
    src: url("/assets/keepcalm.ttf");
}
